body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #941E1E;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header .lista-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 20px;
}

header .lista-nav li {
    float: right;
}

header .lista-nav li:first-child {
    float: left;
}

header .lista-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header .logo img {
    max-width: 200px;
    height: auto;
}

.event-banner {
    text-align: center;
    margin: 20px 0;
}

.event-banner img {
    width: 50%;
    height: auto;
}

.event-details {
    text-align: center;
    margin: 20px 0;
}

.event-details h1 {
    color: #941E1E;
    font-weight: 600;
}

.event-details p {
    color: #696969;
    font-weight: 400;
}

.guest-list {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 100px;
}

.guest-list h2 {
    color: #941E1E;
    text-align: center;
    margin-bottom: 20px;
}

.guest-list table {
    width: 100%;
    border-collapse: collapse;
}

.guest-list table, th, td {
    border: 1px solid #ddd;
}

.guest-list th, td {
    padding: 10px;
    text-align: left;
}

.guest-list a {
    color: #941E1E;
    text-decoration: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
